<div>
    <H1>LOGO</H1>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Home</a>
          <ng-template ngbNavContent>
            <div class="welcomeCard">
                <h1>
                    Welcome Admin Panel
                </h1>
              </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Employee List</a>
          <ng-template ngbNavContent>
              <app-emp-list></app-emp-list>
          </ng-template>
        </li>
        <li ngbNavItem  class="ml-auto">
            <label>{{user.name}}</label>
        </li>
        <li ngbNavItem  class="ml-auto"> 
           <button style="margin-right: 20px;" (click)="logout()">Logout</button>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
</div>