<div style="height: 100vh;width: 100vw; background-image: url('/assets/loginBack.png');object-fit:fill">
    <div class="container">
        <form style="height:65vh" [formGroup]="userForm">
            <p>Welcome</p>
            <input formControlName="username" type="email" placeholder="Email" style="width: 100%;" required>
            <span class="text-danger"
                *ngIf="(userFormControl.username.touched || submitted) && userFormControl.username.errors?.required">
                Email is required
            </span>
            <br>
            <input formControlName="password" type="password" placeholder="Password" style="width: 100%;" required>
            <span class="text-danger"
                *ngIf="(userFormControl.password.touched || submitted) && userFormControl.password.errors?.required">
                Password is required
            </span>
            <br>
            <input type="button" value="Login" (click)="login()"><br>
        </form>

        <div class="drops">
            <!-- <div class="drop drop-1"></div>
            <div class="drop drop-2"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div> -->
        </div>

    </div>
</div>