<form>
    <div class="form-group form-inline" style="float: right;margin-top: 10px;">
        <label style="margin-right:50px"> Total Count ={{total}}</label> <button (click)="open()">Create
            Employee</button>
    </div>
    <br>
    <br>
    <br>
    <div class="form-group form-inline" style="float: right;margin-top: 10px;">
        search: <input class="form-control ml-2" type="text" name="searchTerm" (keyup)='search($event.target.value)' />
    </div>
    <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">designation</th>
                <th scope="col">Gender</th>
                <th scope="col">Course</th>
                <th scope="col">Create Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of filterData">
                <th scope="row">{{ emp._id }}</th>
                <td>
                    <img class="product-image" src="{{getBaseUrl() + '/' + emp.imageLink}}" />
                </td>
                <td>
                    <ngb-highlight [result]="emp.name"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="emp.email"></ngb-highlight>
                </td>
                <td>{{emp.contact}}</td>
                <td>{{emp.designation}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.course}}</td>
                <td>
                    <ngb-highlight [result]="emp.date"></ngb-highlight>
                </td>
                <td>
                    <select [selectedIndex]="emp.active?0:1" (change)="changeActive(emp,$event)" [(ngModel)]="emp.active">
                        <option value="true">Active</option>
                        <option value="false">Deactive</option>
                    </select>
                    <button (click)="openEdit(emp)">
                        Edit
                    </button>
                    <button (click)="deleteEmp(emp)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>